[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Impressor
Exec=python3 /home/think/git/TSVTools/src/InfoScreen/Impresser.py
Comment=Infoscreen Bearbeitung
Icon=/home/think/git/TSVTools/src/InfoScreen/icons/filmstrip.png
Categories=GTK,QT,Utility;
Terminal=false
StartupNotify=true
